<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
	<connectionStrings>
		<add name="pogconnectionstring"
				connectionString="Data Source=tcp:pogserver.database.windows.net,1433;Initial Catalog=pogdatabase;User Id=poglogin@pogserver;Password=ConfidentialPassword123" />
		<add name="pogconnectionstring2"
				connectionString="Data Source=tcp:pogserver.database.windows.net,1433;Initial Catalog=pogdatabase2;User Id=poglogin@pogserver;Password=ConfidentialPassword123" />
	</connectionStrings>

</configuration>